<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suniceman.mapper.UserMapper">

	<insert id="regist" parameterType="User">
		insert into user(username,email,password,avatar, questionOne, questionTwo,
		questionThree,createdTime, roleId)
		values(#{username},#{email},#{password},#{avatar}, #{questionOne},
		#{questionTwo}, #{questionThree}, Now(), 2)
	</insert>

	<select id="login" parameterType="String" resultType="User">
		select * from user where email=#{email} and roleId = 2
	</select>

	<update id="updatePassword" parameterType="User">
		UPDATE user SET
		password = #{password} WHERE email = #{email}
	</update>

	<select id="findByGroupId" parameterType="int" resultType="User">
		select
		user.id,
		user.username,
		user.sign,
		user.avatar
		from 
		group_user 
		INNER JOIN 
		user 
		on 
		group_user.userId=user.id
		and group_user.groupId = #{groupId}

	</select>
	<update id="changeSign" parameterType="User">
	   UPDATE user SET sign = #{sign} where id = #{id}
	</update>
	
	<delete id="deleteFriend" parameterType="GroupUser">
	   delete from group_user where userId = #{userId} and ownId = #{ownId}
	</delete>
	
	<select id="findByName" parameterType="String" resultType="User">
	   select * from user where username=#{username} and roleId = 2
	</select>
	
	<select id="findAll" resultType="User">
	   select * from user where roleId = 2
	</select>
	
	<select id="findById" resultType="User" parameterType="int">
       select * from user where id = #{userId}
    </select>
    <select id="loginBack" parameterType="String" resultType="User">
        select * from user where username=#{username} and roleId = 1
    </select>

    <select id="showCount" parameterType="com.suniceman.po.UserVo" resultType="int">
        SELECT COUNT(*) FROM user WHERE 1 = 1
        <if test="username != null and username != ''">
            AND username LIKE '%${username}%'
        </if>
    </select>

    <select id="showByPage" parameterType="com.suniceman.po.UserVo" resultType="User">
        SELECT * FROM user WHERE 1 = 1
        <if test="username != null and username != ''">
            AND username LIKE '%${username}%'
        </if>
        ORDER BY roleId ASC
        LIMIT #{pageNum}, 10 
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM user WHERE id = #{id}
    </delete>
    
    <update id="changeAdminPassword" parameterType="User">
        UPDATE user SET
        password = #{password} WHERE id = #{id}
    </update>
    
    <select id="checkName" parameterType="String" resultType="User">
        select * from user where
        username=#{username}
    </select>
    
    <update id="updateUser" parameterType="User">
    update user set username = #{username}, password = #{password} where id = #{id}
    </update>
</mapper>

